### Business understanding

### Data understanding

### Data preparation

In [20]:
import pandas as pd

df = pd.read_csv('data/car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [21]:
df = df.drop_duplicates(keep='first')

In [22]:
df2 = pd.get_dummies(df[['Fuel_Type', 'Seller_Type','Transmission']],drop_first=True)
df2

,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0,1,0,1
1,1,0,0,1
2,0,1,0,1
3,0,1,0,1
4,1,0,0,1
...,...,...,...,...
296,1,0,0,1
297,0,1,0,1
298,0,1,0,1
299,1,0,0,1
300,0,1,0,1

In [23]:
df = pd.concat([df, df2], axis=1)
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,1,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,1,0,0,1
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,0,1,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,0,1,0,1
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,1,0,0,1
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,0,1,0,1
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,0,1,0,1
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,1,0,0,1
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,0,1,0,1

In [24]:
#independent variables.
X = df.drop(columns=['Selling_Price','Car_Name','Present_Price'])
#target
y = df['Selling_Price']

### Modeling

### Evaluation